.Action {
  button {
    display: flex;
    padding: 1px 6px;
    cursor: pointer;
    outline: revert;
  }
}

*[class^='ExtensionTableRow'] {
  .Action {
    opacity: 0;
  }

  &:hover {
    .Action {
      opacity: 1;
    }
  }
}

.Action.visible {
  opacity: 1;
}
