.Status {
  font-size: 13px;
  border-radius: var(--p-status-border-radius);
  padding: 2px 8px 3px 8px;
  white-space: nowrap;
  background: var(--status-color);
}

.Connected {
  --status-color: var(--p-success);
}

.Disconnected {
  --status-color: var(--p-warning);
}

.BuildError {
  --status-color: var(--p-critical);
}
