@import '../../styles/common';

.Icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.colorBase {
  @include recolor-icon(var(--p-icon));

  &::before {
    background-color: var(--p-surface-neutral);
  }
}

.colorSubdued {
  @include recolor-icon(var(--p-icon-subdued));
}

.colorCritical {
  @include recolor-icon(var(--p-icon-critical));

  &::before {
    background-color: var(--p-surface-critical);
  }
}

.colorInteractive {
  @include recolor-icon(var(--p-interactive));
}

.colorWarning {
  @include recolor-icon(var(--p-icon-warning));

  &::before {
    background-color: var(--p-surface-warning);
  }
}

.colorHighlight {
  @include recolor-icon(var(--p-icon-highlight));

  &::before {
    background-color: var(--p-surface-highlight);
  }
}

.colorSuccess {
  @include recolor-icon(var(--p-icon-success));

  &::before {
    background-color: var(--p-surface-success);
  }
}

.colorPrimary {
  @include recolor-icon(var(--p-action-primary));
}

.Svg,
.Img {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.Placeholder {
  padding-bottom: 100%;
  background: currentColor;
}

.sizeBase {
  min-width: var(--x-icon-size-default);
  min-height: var(--x-icon-size-default);
  width: var(--x-icon-size-default);
  height: var(--x-icon-size-default);
}

.sizeSmall {
  min-width: var(--x-icon-size-small);
  min-height: var(--x-icon-size-small);
  width: var(--x-icon-size-small);
  height: var(--x-icon-size-small);
}

.sizeLarge {
  min-width: var(--x-icon-size-large);
  min-height: var(--x-icon-size-large);
  width: var(--x-icon-size-large);
  height: var(--x-icon-size-large);
}
