.Code {
  position: relative;
  padding: var(--dc-text-code-padding);
  border-radius: border-radius();
  color: var(--dc-text-code-color);
  background-color: var(--p-surface-subdued);
  display: inline-block;
  box-shadow: inset 0 0 0 1px var(--p-border-subdued);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    pointer-events: none;
  }
}

.Critical {
  color: var(--p-text-critical);
}

.Success {
  color: var(--p-text-success);
}

.Subdued {
  color: var(--p-text-subdued);
}

.ExtraSmall {
  font-size: var(--dc-font-size-extraSmall);
}

.Small {
  font-size: var(--dc-font-size-small);
}

.Medium {
  font-size: var(--dc-font-size-medium);
}

.Large {
  font-size: var(--dc-font-size-large);
}

.ExtraLarge {
  font-size: var(--dc-font-size-extraLarge);
}

.Strong {
  font-weight: 800;
}

.Emphasized {
  font-style: italic;
}
