.OuterContainer {
  height: 100vh;
  background: var(--dc-background);
  overflow: auto;
}

.Hidden {
  visibility: hidden;
}

.DevTool {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--dc-text);
  font-family: var(--dc-font);
  
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  h1 {
    font-weight: 700;
  }

  main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  svg {
    width: 2rem;
  }
}

.Header {
  border-bottom: 1px solid var(--dc-dark);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem;

  svg {
    fill: var(--dc-text);
  }

  .HeaderLeft {
    display: flex;
    height: auto;
  }

  .Cancel {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.SideBar {
  background: var(--dc-dark);
  width: 24rem;

  ul {
    list-style: none;
    padding: 0;
  }

  svg {
    fill: var(--dc-text);
  }
}

.MenuItem {
  position: relative;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--dc-border-radius);
  display: flex;
  align-items: center;

  &:focus,
  &:hover {
    background: var(--dc-background);
    color: var(--dc-active);
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: -1rem;
      width: 3px;
      height: 3rem;
      background: var(--dc-active);
      border-radius: 4px;
      margin-right: 1rem;
    }

    svg {
      fill: var(--dc-active);
    }
  }
}

.ExtensionList {
  width: 100%;
  overflow: auto;
  flex: 1;

  table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
  }

  hr {
    color: var(--dc-subdued);
  }

  tr {
    background: var(--dc-background);
    line-height: 3rem;
    border-bottom: 1px solid var(--dc-dark);

    &:hover {
      background: var(--dc-background);
      $background-hover: #4e4f51;
      cursor: pointer;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect y='0.25rem' x='0.3rem' width='calc(100% - 0.6rem)' height='calc(100% - 0.4rem)' rx='5' style='fill:rgb(#{red($background-hover)}, #{green($background-hover)}, #{blue($background-hover)});' /></svg>");

      .ActionSet {
        opacity: 1;
      }
    }
  }

  td {
    padding: 1rem;
  }

  th {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1rem;
    background: var(--dc-background);
  }

  svg {
    fill: var(--dc-subdued);
  }
  
  .Url {
    color: var(--dc-text);
  }

  .ActionSet {
    vertical-align: middle;
    opacity: 0;
  } 

  .ForceVisible.ActionSet,
  .ForceVisible .ActionSet {
    opacity: 1;
  }

  .Hidden {
    text-decoration: line-through;
    color: var(--dc-subdued);

    .Url {
      color: var(--dc-subdued);
    }
  }

  .Status {
    --dc-connected: #00a47c;
    --dc-disconnected: #b98900;
    --dc-error: #d92800;

    font-size: 13px;
    border-radius: var(--dc-border-radius);
    padding: 0.25rem 1rem 0.5rem;
    white-space: nowrap;
  }

  .success {
    background: var(--dc-connected);
  }

  .disconnected {
    background: var(--dc-disconnected);
  }

  .error {
    background: var(--dc-error);
  }
}

.UIExtensionsDevToolOverrides {
  overflow: hidden;
}

.Empty {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
}